body {
    font-size: 22px;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden;
}

.contentWrapper {
    margin-top: 20px;
    left: 25vw;
    right: 25vw;
    position: relative;
    align-items: center;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto 1fr auto;
    max-width: 150vh;
    min-height: 100vh;
    width: 100%;
    z-index: 999;
}

.typingTest {
    height: 40vh;
    max-width: 50vw;
}

.result {
    visibility: hidden;
    position: absolute;
    align-items: center;
    color: cornflowerblue;
    display: grid;
    gap: 1rem;
    grid-template-columns: auto 1fr;
}

#result .stats.morestats {
    align-items: flex-start;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    display: grid;
}

#wordsInput {
    position: absolute;
    background-color: transparent;
    color: transparent;
    border: none;
    outline: none;
    width: 55%;
    font-size: 22px;
    margin-left: 20vw;
}

#wordsWrapper {
    width: 100%;
    justify-content: center;
}

#wordsWrapper .word {
    margin-right: 10px;
}

.typingConfig {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #191919;
    display: flex;
    border-radius: 10px;
    color: gray;
    font-size: 1rem;
    gap: 0.5rem;
    grid-auto-flow: column;
    height: -moz-max-content;
    height: max-content;
    justify-content: space-around;
    transition: opacity .125s;
    width: 50vw;
}

i {
    margin-right: 4px;
    margin-top: 2px;
}

.textButton {
    margin-right: 16px;
}

.textButton:hover {
    color: white;
    cursor: pointer;
    animation: fadeIn .5s;
}

.textButton.active {
    color: white;
}

div {
    display: flex;
    flex-wrap: wrap;
}

letter {
    color: gray;
}

#carret {
    left: 0px;
    width: 2px;
    background-color: cornflowerblue;
    position: absolute;
    height: 1.1em;
    animation: caretAnimation 1s infinite;
    transition: all 0.1s;
}

.correct {
    color: white;
}

.incorrect {
    color: red;
}

@keyframes caretAnimation {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    100% {
        opacity: 1;
    }

    0% {
        opacity: .5;
    }
}